In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import re
import itertools

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
246,tt1136608,30000000,210819611,District 9,Sharlto Copley|Jason Cope|Nathalie Boltt|Sylva...,Neill Blomkamp,You are not welcome here.,Aliens land in South Africa and have no way ho...,112,Action|Thriller|Science Fiction,WingNut Films|TriStar Pictures|Key Creatives|B...,8/5/2009,7.1,2009
1874,tt0202402,15000000,9902115,Whatever It Takes,Jodi Lyn O'Keefe|Shane West|Marla Sokoloff|Jam...,David Raynr,How low will they go to get the girls of their...,"A nerdy teen, Ryan Woodman is smitten with the...",94,Drama|Comedy|Romance,Columbia Pictures Corporation,3/31/2000,5.0,2000
709,tt1213644,25000000,14109284,Disaster Movie,Matt Lanter|Vanessa Lachey|Nicole Ari Parker|C...,Jason Friedberg|Aaron Seltzer,Your favorite movies are going to be destroyed.,"In DISASTER MOVIE, the filmmaking team behind ...",87,Action|Comedy,Grosvenor Park Media Ltd.|LionsGate|3 in the Box,8/29/2008,3.3,2008
1312,tt0330373,150000000,895921036,Harry Potter and the Goblet of Fire,Daniel Radcliffe|Rupert Grint|Emma Watson|Ralp...,Mike Newell,Dark And Difficult Times Lie Ahead.,"Harry starts his fourth year at Hogwarts, comp...",157,Adventure|Fantasy|Family,Patalex IV Productions Limited|Warner Bros.|He...,11/5/2005,7.3,2005
680,tt0443701,30000000,68369434,The X Files: I Want to Believe,David Duchovny|Gillian Anderson|Amanda Peet|Bi...,Chris Carter,"To find the truth, you must believe.",Six years after the events of The X-Files seri...,104,Drama|Mystery|Science Fiction|Thriller,Twentieth Century Fox Film Corporation|Ten Thi...,7/24/2008,5.4,2008

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

data['profit'] = data['revenue'] - data['budget'] #прибыль от фильма в отдельную колонку
data['month'] = data['release_date'].apply(lambda x : re.match('\d*',x).group(0)) #колонка с номером месяца,так удобнее
#data['release_date'] = pd.to_datetime(data['release_date']) #переведем в datetime,не потребовалось

def counter_value(df, name):
    #Подсчет значений одной колонки name с разделителем |.
    temp_data = df[name].str.cat(sep='|')
    return pd.Series(temp_data.split('|')).value_counts(ascending=False)

def get_df(data,col_basic,*columns):
    #Создадим новый датафрейм со значениями колонки col_basic основного датафрейма,разбив её по разделителю |
    #По индексу подтянем нужные колонки из основного датафрейма и вернем полученный датафрейм
    
    df_new = pd.DataFrame(data[col_basic].str.split('|').tolist()).stack().reset_index()
    df_new.columns = ['row_index','row2',col_basic]
    for col in columns:
        df_new[col] = df_new.row_index.apply(lambda x : data.iloc[x][col])
        
    return df_new  

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
#+

In [6]:
data[data['budget'] == data['budget'].max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'
#+

In [9]:
data[data['runtime'] == data['runtime'].max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
#+

In [11]:
data[data['runtime'] == data['runtime'].min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '110'
#+

In [13]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '107'
#+

In [15]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = 'Avatar (tt0499549)'
#+

In [17]:
data[data['profit'] == data['profit'].max()]['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = 'The Lone Ranger (tt1210819)'
#-  Это правильный ответ.Но платформа почему-то считает иначе.. В чате Ментор по python также признала ошибку платформы.

In [19]:
data[data['profit'] == data['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1478'
#+

In [21]:
len(data[data['revenue'] > data['budget']])

1478

ВАРИАНТ 2

In [22]:
len(data.query('revenue > budget'))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
answers['9'] = 'The Dark Knight (tt0468569)'
#+

In [24]:
data_m = data.query('release_year == 2008')
data_m[data_m['profit'] == data_m['profit'].max()]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
answers['10'] = 'The Lone Ranger (tt1210819)'
#+

In [26]:
data_m = data.query('release_year >= 2012 & release_year <= 2014')
data_m[data_m['profit'] == data_m['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [27]:
answers['11'] = 'Drama'
#+

In [28]:
import collections

genre_counter = collections.Counter()

for genres in data['genres']:
    genres_list = genres.split('|')
    for genre in genres_list:
        genre_counter[genre] +=1

print(genre_counter)

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 596, 'Action': 582, 'Adventure': 415, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 222, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 19, 'Documentary': 8, 'Foreign': 2})

ВАРИАНТ 2

In [29]:
pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 3

In [30]:
df_genres = get_df(data,'genres')
df_genres.genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 4

In [31]:
counter_value(data, 'genres')

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [32]:
answers['12'] = 'Drama'
#+

In [33]:
#быстрее
pd.DataFrame(data[data['profit']>0]['genres'].str.split('|').tolist()).stack().value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

ВАРИАНТ 2

In [34]:
#универсальнее
df_genres = get_df(data,'genres','profit')
df_genres.query('profit > 0').genres.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [35]:
answers['13'] = 'Peter Jackson'
#+

In [36]:
df_dir = get_df(data,'director','profit')
df_dir.groupby('director')['profit'].sum().sort_values(ascending=False)

director
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
                        ...
Jack Sholder          -75171919
Peter Hyams           -86956545
Ron Underwood         -92896027
James L. Brooks       -96289726
Walter Hill          -128283462
Name: profit, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [37]:
answers['14'] = 'Robert Rodriguez'
#+

In [38]:
genre_action = data[data['genres'].apply(lambda x : 'Action' in x)]
counter_value(genre_action,'director')

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Michael Spierig       1
Daniel Barber         1
Peter Segal           1
Gary McKendry         1
Carl Rinsch           1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [39]:
answers['15'] = 'Chris Hemsworth'
#+

In [40]:
df_cast = get_df(data,'cast','profit','release_year') 
df_cast.query('release_year == 2012').groupby('cast')['profit'].sum().sort_values(ascending = False)

cast
Chris Hemsworth      1542450773
Denis Leary          1319460639
Chris Evans          1299557910
Mark Ruffalo         1299557910
Robert Downey Jr.    1299557910
                        ...
Malin Ã…kerman        -43733509
Timothy Spall         -51893525
James Kidnie          -51893525
Heidi Hawkins         -51893525
Kirsten Dunst         -68109207
Name: profit, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [41]:
answers['16'] = 'Matt Damon'
#+

In [42]:
counter_value(data[data.budget > data.budget.mean()], 'cast')

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Albert Brooks         1
Peter Fonda           1
Lusia Strus           1
James Kidnie          1
Pink                  1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [43]:
answers['17'] = 'Action'
#+

In [44]:
df_cast = data[data['cast'].apply(lambda x: 'Nicolas Cage' in x)]
counter_value(df_cast, 'genres')

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Mystery             3
Animation           3
History             2
Romance             1
Horror              1
War                 1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [45]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
#+

In [46]:
df_temp = data[(data['production_companies'].apply(lambda x : 'Paramount Pictures' in x))]
df_temp[df_temp['profit'] == df_temp['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,7

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [47]:
answers['19'] = '2015'
#+

In [48]:
data.groupby('release_year')['profit'].sum().sort_values(ascending = False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2010    13531204961
2009    13423744372
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [49]:
answers['20'] = '2014'
#+

In [50]:
df_temp = data[(data['production_companies'].apply(lambda x : 'Warner Bros' in x))]
df_temp.groupby('release_year')['profit'].sum().sort_values(ascending = False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [51]:
answers['21'] = 'Сентябрь'
#+

In [52]:
data.groupby('month')['original_title'].count().sort_values(ascending = False)

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [53]:
answers['22'] = '450'
#+

In [54]:
len(data.query('month in ["6","7","8"]'))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [55]:
answers['23'] = 'Peter Jackson'
#+

In [56]:
df_temp = get_df(data,'director','profit','month')
df_temp.query('month in ["1","2","12"]').groupby('director')['profit'].sum().sort_values(ascending = False)

director
Peter Jackson        4435590117
James Cameron        2544505847
J.J. Abrams          1868178225
Clint Eastwood       1077156751
Steven Soderbergh     795637426
                        ...
Jim Gillespie         -48583698
Michael Mann          -71533235
Jack Sholder          -75171919
James L. Brooks       -96289726
Walter Hill          -120682090
Name: profit, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [57]:
answers['24'] = 'Four By Two Productions'
#+

In [58]:
df_temp = get_df(data,'production_companies','original_title')
df_temp['len_title'] = df_temp['original_title'].apply(lambda x : len(x))
df_temp.groupby('production_companies')['len_title'].max().sort_values(ascending = False)

production_companies
Four By Two Productions                   83
Twentieth Century Fox Film Corporation    83
Walden Media                              62
Walt Disney                               62
Jim Henson Company, The                   59
                                          ..
Everest Entertainment                      3
Berlanti Productions                       3
XM2 Productions                            2
Global Entertainment Group                 2
Ixtlan Productions                         2
Name: len_title, Length: 1771, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [59]:
answers['25'] = 'Midnight Picture Show'
#+

In [60]:
df_temp = get_df(data,'production_companies','overview')
df_temp['len_overview'] = df_temp['overview'].apply(lambda x : len(x))
df_temp.groupby('production_companies')['len_overview'].mean().sort_values(ascending = False)

production_companies
Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Lions Gate Family Entertainment           909.0
Crest Animation Productions               909.0
                                          ...
Projection Pictures                        74.0
London Boulevard                           74.0
Phantom Four                               72.0
Empire Pictures                            62.0
Motion Picture Corporation of America      59.0
Name: len_overview, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [61]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
#+

In [62]:
df_temp = data[data['vote_average'] > data.quantile(0.99, numeric_only=True)['vote_average']]
df_temp[['original_title','vote_average']].sort_values('vote_average',ascending = False)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [63]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
#+

In [67]:
counter = Counter()

for casts in data['cast'].str.split('|'):
    for comb in itertools.combinations(casts,2):
        counter[comb] +=1

max_value = sorted(counter.values(),reverse = True)[0]

for k,v in counter.items():
    if v == max_value:
        print(k,v)

('Daniel Radcliffe', 'Rupert Grint') 8
('Daniel Radcliffe', 'Emma Watson') 8

ВАРИАНТ 2

# Submission

In [65]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [66]:
# и убедиться что ни чего не пропустил)
len(answers)

27